a:link.talk{
color: black;
text-decoration: none;
}
a:visited.talk{
color: black;
text-decoration: none;
}
a:hover.talk{
color: blue;
}
A:link.arXiv{
color: blue;
}
A:visited.arXiv{
color: blue;
}
A:link.people{
color: blue;
}
A:visited.people{
color: blue;
}
